.MazeEditor {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.MazeEditor__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  background: var(--joy-palette-background-surface);
  color: var(--joy-palette-neutral-plainColor);
}

.MazeEditor__header a {
  text-decoration: none;
  color: var(--joy-palette-primary-solidBg);
}
.MazeEditor__header a:visited {
  text-decoration: none;
  color: var(--joy-palette-primary-solidBg);
}

.MazeEditor__content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}