.SideEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--joy-palette-background-surface);
  z-index: 999;
}

.ColorInput span {
  display: flex;
  flex-direction: row;
}

.ColorInput__color {
  width: 20px;
  cursor: pointer;
}