.MazePreview {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
  border: none;
}

.MazePreview > div {
  background: white;
  border: none;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#MazeCanvas {
  background: white;
  border: none;
  padding: 16px;
}